<h2>Editer <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <p><%= f.label :password, "Mot de passe" %> <i>(Laisser vide si vous ne souhaitez pas le modifier)</i></p>
    <p><%= f.password_field :password, autocomplete: "Nouveau mot de passe" %></p>
    <% if @minimum_password_length %>
      <p><em><%= @minimum_password_length %> characters minimum</em></p>
    <% end %>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "Nouveau mot de passe" %></p>
  </div>

  <div class="field">
    <p><%= f.label :current_password %> <i>(Rentrez votre mot de passe actuel pour confirmer le nouveau mot de passe)</i></p>
    <p><%= f.password_field :current_password, autocomplete: "Mot de passe actuel" %></p>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

<%= link_to "Back", :back %>
