<h2>S'inscrire</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <p><%= f.label :email %></p>
    <p><%= f.email_field :email, autofocus: true, autocomplete: "email" %></p>
  </div>

  <div class="field">
    <p><%= f.label :password, "Mot de passe" %></p>
    <% if @minimum_password_length %>
      <p><em>(<%= @minimum_password_length %> characters minimum)</em></p>
    <% end %>
    <p><%= f.password_field :password, autocomplete: "Mot de passe" %></p>
  </div>

  <div class="field">
    <p><%= f.label :password_confirmation, "Confirmez votre mot de passe" %></p>
    <p><%= f.password_field :password_confirmation, autocomplete: "Mot de passe" %></p>
  </div>

  <div class="actions">
    <%= f.submit "S'inscrire" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
