<main class="p-4 d-flex flex-column align-items-center gap-4">
  <h1>Redzblog</h1>
  <p>Votre blog référence en science et culture</p>

  <section class="text-center d-flex flex-column gap-4">
    <h2>Une sélection de nos articles</h2>
      <div class="d-flex flex-wrap gap-4 justify-content-center">
        <% @articles.each do |article| %>
          <div class="card text-center p-4" style="width: 30rem;">
            <h3><%= article.title %></h3>
            <%= image_tag("#{article.main_image}", alt: "#{article.main_image_description}", class: "w-100" ) %>
            <p><%= article.overview %></p>
            <div class="d-flex justify-content-between">
              <%= link_to "Lire l'article", articles_show_path(article.id) %>
              <p><%= article.category %></p>
            </div>
          </div>
        <% end %>
      </div>
    <%= link_to "Voir tous les articles", articles_index_path %>
  </section>

  <section class="text-center d-flex flex-column gap-4">
    <h2>Une sélection des dernières actualités</h2>
    <div class="d-flex flex-wrap gap-4 justify-content-center">
      <% @actualites.each do |actualite| %>
        <div class="card p-4" style="width: 30rem;">
          <h2><%= actualite.title %></h2>
          <%= image_tag("#{actualite.image_url}", alt: "#{actualite.image_url_description}", class: "w-100" ) %>
        </div>
      <% end %>
    </div>
    <%= link_to "Voir toutes les actualités", actualites_index_path %>
  </section>
</main>
